:root {
    --night: #12130F;
    --raisinBlack: #1C1C26;
    --glaucous: #657ED4;
    --ghostWhite: #FBFBFF;
    --red: #E84855;
    --shadow: rgb(12, 12, 12);
}

body {
    background-color: var(--night);
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

a {
    text-decoration: none;
    color: var(--ghostWhite);
    cursor: pointer;
}

.price {
    color: var(--red);
}



.browseContent {
    display: flex;
    flex: 1 4;
    justify-content: space-around;
    margin: 2rem;
    color: var(--ghostWhite);
    align-items: stretch;
}

.browseFilter {
    width: 20vw;
    background-color: var(--raisinBlack);
    padding: 1rem;
    margin: 0;
    box-shadow: 5px 7px 10px var(--shadow);
}

.browseEmptyDiv {
    width: 20vw;
}

.browseProducts {
    width: 50vw;
    background-color: var(--raisinBlack);
    padding: 1rem;
    box-shadow: 5px 7px 10px var(--shadow);
}

.logInContent {
    width: 50vw;
    color:  var(--ghostWhite);
    margin: 2rem auto 2rem auto;
    background-color: var(--raisinBlack);
    padding: 1vw;
}

.logInForm{
    text-align: center;
}

.logInForm input{
    background-color: var(--glaucous);
    border: none;
    font-size: 2rem;
    margin-bottom: 4vh;
}

.logInTitle {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4vh;
}